body {
    background-image: url('../images/BACKGROUND.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.nav {
    background-color: white;
}

.headtitle {
    padding-left: 5px;
    float: right; 
    background-color: teal; 
    color: white;
    height: 100%;
}

 .active {
     background-color: teal !important; 
     color: white !important;
 }

 .main {
     margin-top: 20px;
     background-color: white;
     overflow: auto;
     min-height: 50%;
 }

 .row {
     margin: 0;
 }
 .titl {
     border-bottom: solid;
     border-bottom-color: lightgray;
     border-bottom-width: 2px;
     color: teal;
 }

 .foote {
     position: fixed;
     bottom: 0;
     width: 100%;
 }

 .band {
     background-color: teal !important;
     color: white !important;
 }

 .space{
     padding: 2em;
 }

 .aboot {
     padding: 2em;
 }

 .galtex {
     text-align: center;
 }

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }