html {
    background-image: url('../images/BACKGROUND.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.HEADtitle {
    height: 100%; 
    float: right; 
    padding: 25em, 0, 0, 0; 
    background-color: teal; color: white;
}

 .nav-item nav-link active {
     background-color: teal !important; 
     color: white !important;
 }